body {
    background-color: rgb(241, 240, 240);
}
.images {
    height: 400px;
    width: auto;
    border: 4px solid rgb(161, 47, 63);
    border-radius: 5%;
}
.headings {
    color:rgb(49, 7, 163);
}
li {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
.buttons {
    background-color: rgb(49, 7, 163);
    color: white;
    border-color: rgb(49, 7, 163);
}
#comment-input {
    height: 150px;
    width: 300px;
    resize: none;
}